[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dramatiq = {version = "*", extras = ["redis", "watch"]}
dramatiq-dashboard = "*"
periodiq = "*"
bjoern = "*"

[dev-packages]

[requires]
python_version = "3.10"
